.statictesttext{
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    background-color: darkred;
    color: white;    
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.isbrowser{
    background-color: lightcoral;
    color: black
}

.rootappcontainer{
    margin:1px;
}